exportPattern("^[^\\.]")
import(lavaan)
import(psychonetrics)
import(reshape2)
import(tidyverse)
import(qgraph)
import(Matrix)
import(rockchalk)
import(smacof)
import(gdata)
import(MASS)
import(dplyr)
import(tidyverse)
import(doParallel)
import(parallel)
import(foreach)
import(Rcpp)
import(tidyr)
